@media screen and (max-width: 640px){
	container{
		width: 100%;
	}
}
body{
    background-color: rgb(146, 145, 145, 0.8);
    background-size: 100%;
    position: relative;
    
    color: rgb(243, 239, 239);
}
.table{
    color: rgb(243, 242, 242);
    background: rgba(146, 145, 145, 0.8);

}
#trainRows {
    color: rgb(248, 246, 246);
    font-family: Impact, Charcoal, sans-serif;
}
th{
    color: rgb(238, 241, 241);
}
h1{
    text-align: center;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    color: rgb(245, 247, 247);
    
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
    font-family: Georgia, 'Times New Roman', Times, serif;
}